<?xml version="1.0" encoding="utf-8"?>
<log4net>

	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<file value="Logs\"/>
		<staticLogFileName value="false"/>
		<appendToFile value="true"/>
		<maxSizeRollBackups value="7"/>
		<rollingStyle value="Date"/>
		<datePattern value="yyyyMMdd'.log'"/>
		<layout type="log4net.LKayout.PatternLayout">
			<conversionPattern value="%date %5level %logger.%method [%line] - MESSAGE: %message%newline %expression" />
		</layout>
	</appender>
	<root>
		<level value="WARN" />
		<appender-ref ref="RollingFile" />
	</root>
</log4net>